<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b49da9bf3c.js" crossorigin="anonymous"></script>
    <title>About Us</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section id="header">
        <div class="logo">
            <a href="#">Logo</a>
        </div>
    
        <div class="navlinks">
            <div class="row">
                <a href="Ichiban_Nepal.html">Home</a>
                <a href="About.html">About</a>
                <a href="shop.html">Shop</a>
                <a href="addtocart.html"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="loginpage.html">SignUp/LogIn</a>
            </div>
        </div>
    </section>
    <section class="About_content">
        <div class="content">
            <h3>About IchibanNepal</h3>
        </div>
    </section>
    
    
    <footer class="About_ko_footer">
        <p>Created by Kripa K.C</p>
        <p>Contact information: <br>
           Email:simplethapaliya321@gmail.com<br>
             Phone Number                  :+977986-5441316</p>
        <p>Visit our social media pages for updates:
          <a href="https://www.facebook.com/ichiban57"><i class="fa-brands fa-facebook"></i></a> | 
          <a href="https://www.instagram.com/ichiban_nepal/"><i class="fa-brands fa-instagram"></i></a> | 

          </p>
       </footer>
       <script src="scripts.js"></script>

</body>
</html>