<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

    <script src="https://kit.fontawesome.com/b49da9bf3c.js" crossorigin="anonymous"></script>
    <title>Anime Clothing Store</title>
</head>
<body>
    <section id="header">
        <div class="logo">
            <a href="/">Logo</a>
        </div>
    
        <div class="navlinks">
            <div class="row">
                <a href="/">Home</a>
                <a href="/About">About</a>
                <a href="/shop">Shop</a>
                <a href="/addtocart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/loginpage">SignUp/LogIn</a>
            </div>
        </div>
    </section>
    <div class="burger" onclick="toggleNav()"> <div>

    <div class="container">
        <div class="new_row">

            <div div class="col">
                <h2>Hello Anime Lovers!</h2>
                <p>Ichiban Nepal is now providing customizable anime clothes.</p>
                <button><a href="shop.html">Shop Now</a></button>
            </div>
    
            <div class="col">
                <img src="./images/homepage_image.png" alt="">
            </div>

        </div>
    </div>
    <div class="title1">
        <h2>Featured Products</h2>
    </div>
    <section class="featured-products">
     
        <div class="product-list">
           <!-- Product 1 -->
           <div class="product">
             <img src="images/product1.jpg" alt="Product 1">
             <h3>Product 1</h3>
             <p>Price: $99</p>
             <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet ullamcorper.</p>
             <button><i class="fa-solid fa-cart-shopping"></i></button>
           </div>
       
           <!-- Product 2 -->
           <div class="product">
             <img src="images/product2.jpg" alt="Product 2">
             <h3>Product 2</h3>
             <p>Price: $129</p>
             <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet ullamcorper.</p>
             <button><i class="fa-solid fa-cart-shopping"></i></button>
           </div>
       
           <!-- Product 3 -->
           <div class="product">
             <img src="images/product3.jpg" alt="Product 3">
             <h3>Product 3</h3>
             <p>Price: $79</p>
             <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet ullamcorper.</p>
             <button><i class="fa-solid fa-cart-shopping"></i></button>
           </div>
       
           <!-- Product 4 -->
           <div class="product">
             <img src="images/product4.jpg" alt="Product 4">
             <h3>Product 4</h3>
             <p>Price: $89</p>
             <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet ullamcorper.</p>
             <button><i class="fa-solid fa-cart-shopping"></i></button>
           </div>
       
           <!-- Product 5 -->
           <div class="product">
             <img src="images/product5.jpg" alt="Product 5">
             <h3>Product 5</h3>
             <p>Price: $119</p>
             <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet ullamcorper.</p>
             <button><i class="fa-solid fa-cart-shopping"></i></button>
           </div>
       
           <!-- Product 6 -->
           <div class="product">
             <img src="images/product6.jpg" alt="Product 6">
             <h3>Product 6</h3>
             <p>Price: $99</p>
             <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet ullamcorper.</p>
             <button><i class="fa-solid fa-cart-shopping"></i></button>
           </div>
        </div>
       </section>
    
       <footer>
        <p>Created by Kripa K.C</p>
        <p>Contact information: <br>
           Email:simplethapaliya321@gmail.com<br>
             Phone Number                  :+977986-5441316</p>
        <p>Visit our social media pages for updates:
          <a href="https://www.facebook.com/ichiban57"><i class="fa-brands fa-facebook"></i></a> | 
          <a href="https://www.instagram.com/ichiban_nepal/"><i class="fa-brands fa-instagram"></i></a> | 

          </p>
       </footer>
    <script src="scripts.js"></script>
</body>
</html>