<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/b49da9bf3c.js" crossorigin="anonymous"></script>
    <title>Shop</title>

</head>
<body>
    <section id="header">
        <div class="logo">
            <a href="#">Logo</a>
        </div>
    
        <div class="navlinks">
            <div class="row">
                <a href="Ichiban_Nepal.html">Home</a>
                <a href="About.html">About</a>
                <a href="shop.html">Shop</a>
                <a href="addtocart.html"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="loginpage.html">SignUp/LogIn</a>
            </div>
        </div>
    </section>
    <h2 class="head_shop">Shop with us</h2>

    <div class="shop-container">
        <div class="products">
                <img src="images/product1.jpg" alt="Product 1">
                <h2>Product 1</h2>
                <p>$19.99</p>
                <button><a href="loginpage.html">Add to Cart</a></button>
        </div>
        <div class="products">
                <img src="images/product1.jpg" alt="Product 1">
                <h2>Product 1</h2>
                <p>$19.99</p>
                <button><a href="loginpage.html">Add to Cart</a></button>
        </div>
        <div class="products">
                <img src="images/product1.jpg" alt="Product 1">
                <h2>Product 1</h2>
                <p>$19.99</p>
                <button><a href="loginpage.html">Add to Cart</a></button>
        </div>
        <div class="products">
                <img src="images/product1.jpg" alt="Product 1">
                <h2>Product 1</h2>
                <p>$19.99</p>
                <button><a href="loginpage.html">Add to Cart</a></button>
        </div>
        <div class="products">
                <img src="images/product1.jpg" alt="Product 1">
                <h2>Product 1</h2>
                <p>$19.99</p>
                <button><a href="loginpage.html">Add to Cart</a></button>
        </div>
        <div class="products">
                <img src="images/product1.jpg" alt="Product 1">
                <h2>Product 1</h2>
                <p>$19.99</p>
                <button><a href="loginpage.html">Add to Cart</a></button>
        </div>
        <div class="products">
                <img src="images/product1.jpg" alt="Product 1">
                <h2>Product 1</h2>
                <p>$19.99</p>
                <button><a href="loginpage.html">Add to Cart</a></button>
        </div>
        <div class="products">
                <img src="images/product1.jpg" alt="Product 1">
                <h2>Product 1</h2>
                <p>$19.99</p>
                <button><a href="loginpage.html">Add to Cart</a></button>
        </div>
 </div>
       <script src="scripts.js"></script>

</body>
</html>